@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #74c69d;

  --color-success: #74c69d;
  --color-info: #076ffe;
  --color-danger: #d9534f;
  --color-neutral: #74767d;

  --color-text-primary: #444;
  --color-bg-primary: #f1f4f9;
}

.hover-scale {
  @apply transition-all duration-300 ease-out hover:scale-107 active:scale-95;
}

* {
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  color: var(--color-text-primary);
}

table thead tr {
  background-color: var(--color-bg-primary);
}

table thead tr th {
  font-weight: 650;
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

a,
img {
  display: block;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
}

p,
span {
  font-size: 0.9rem;
}

table td:first-child {
  font-weight: 600;
}
