@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  /* UI hệ thống */
  --color-primary: #74c69d;
  --color-secondary: #fff;
  --color-text-primary: #444;
  --color-bg-primary: #f1f4f9;

  /* button */
  --color-btn-primary: #74c69d;
  --color-btn-secondary: #076ffe;
  --color-btn-danger: #d9534f;

  /* icon */
  --color-icon-primary: #74c69d;
  --color-icon-secondary: #076ffe;
  --color-icon-danger: #d9534f;
  --color-icon-default: #74767d;
}

* {
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  color: var(--color-text-primary);
}

table thead tr {
  background-color: var(--color-bg-primary);
}

table thead tr th {
  font-weight: 650;
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

a,
img {
  display: block;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
}

p,
span {
  font-size: 0.9rem;
}

table td:first-child {
  font-weight: 600;
}
