@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #74c69d;
  --color-success: #74c69d;
  --color-info: #0088ff;
  --color-danger: #ed3241;
  --color-neutral: #8f9098;

  --font-family: "Quicksand", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-family text-[#444] bg-[#f1f4f9];
  }

  a,
  img {
    @apply block;
  }

  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-[1.8rem] font-bold;
  }
  h2 {
    @apply text-[1.6rem] font-bold;
  }
  h3 {
    @apply text-[1.4rem] font-bold;
  }
  h4 {
    @apply text-[1.2rem] font-bold;
  }
  h5 {
    @apply text-[1rem] font-semibold;
  }

  p,
  span,
  input,
  select,
  label,
  textarea,
  button,
  a {
    @apply text-[0.9rem];
  }

  small {
    @apply text-[0.75rem];
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table thead tr {
    @apply bg-[#f1f4f9];
  }
  table thead tr th {
    font-weight: 650;
  }
  table td:first-child {
    font-weight: 600;
  }
}

@layer components {
  .hover-scale {
    @apply transition-all duration-200 ease-out hover:scale-[1.02] active:scale-[0.98];
  }
}

@layer utilities {
}
